WpfClient/Service References/ServiceReference/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVariableDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VariableDto" nillable="true" type="tns:VariableDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVariableDto" nillable="true" type="tns:ArrayOfVariableDto" />
  <xs:complexType name="VariableDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VariableName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VariableDto" nillable="true" type="tns:VariableDto" />
  <xs:complexType name="ArrayOfTerminalDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TerminalDto" nillable="true" type="tns:TerminalDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTerminalDto" nillable="true" type="tns:ArrayOfTerminalDto" />
  <xs:complexType name="TerminalDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Acknowledged" type="xs:boolean" />
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="AlarmId" type="xs:int" />
      <xs:element minOccurs="0" name="AlarmLevelName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxValue" type="xs:double" />
      <xs:element minOccurs="0" name="SetTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VariableName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TerminalDto" nillable="true" type="tns:TerminalDto" />
  <xs:complexType name="ArrayOfHistogramDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HistogramDto" nillable="true" type="tns:HistogramDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHistogramDto" nillable="true" type="tns:ArrayOfHistogramDto" />
  <xs:complexType name="HistogramDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="SingleValue" type="xs:float" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HistogramDto" nillable="true" type="tns:HistogramDto" />
</xs:schema>