Publisher/Service References/ServiceReference/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVariableDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VariableDto" nillable="true" type="tns:VariableDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVariableDto" nillable="true" type="tns:ArrayOfVariableDto" />
  <xs:complexType name="VariableDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VariableName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VariableDto" nillable="true" type="tns:VariableDto" />
</xs:schema>