Publisher/Service References/ServiceReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60881/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60881/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60881/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebService.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_UpdateVariableSingle_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateVariableSingle" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateVariableSingle_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateVariableSingleResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AcknowledgeAlarm_InputMessage">
    <wsdl:part name="parameters" element="tns:AcknowledgeAlarm" />
  </wsdl:message>
  <wsdl:message name="IService_AcknowledgeAlarm_OutputMessage">
    <wsdl:part name="parameters" element="tns:AcknowledgeAlarmResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetVariables_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVariables" />
  </wsdl:message>
  <wsdl:message name="IService_GetVariables_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVariablesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetTerminal_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTerminal" />
  </wsdl:message>
  <wsdl:message name="IService_GetTerminal_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTerminalResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetHistogram_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHistogram" />
  </wsdl:message>
  <wsdl:message name="IService_GetHistogram_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHistogramResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAverageLastDay_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAverageLastDay" />
  </wsdl:message>
  <wsdl:message name="IService_GetAverageLastDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAverageLastDayResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="UpdateVariableSingle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateVariableSingle" message="tns:IService_UpdateVariableSingle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateVariableSingleResponse" message="tns:IService_UpdateVariableSingle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AcknowledgeAlarm">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AcknowledgeAlarm" message="tns:IService_AcknowledgeAlarm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AcknowledgeAlarmResponse" message="tns:IService_AcknowledgeAlarm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVariables">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetVariables" message="tns:IService_GetVariables_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetVariablesResponse" message="tns:IService_GetVariables_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTerminal">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetTerminal" message="tns:IService_GetTerminal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetTerminalResponse" message="tns:IService_GetTerminal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHistogram">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetHistogram" message="tns:IService_GetHistogram_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetHistogramResponse" message="tns:IService_GetHistogram_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAverageLastDay">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAverageLastDay" message="tns:IService_GetAverageLastDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAverageLastDayResponse" message="tns:IService_GetAverageLastDay_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateVariableSingle">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateVariableSingle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcknowledgeAlarm">
      <soap:operation soapAction="http://tempuri.org/IService/AcknowledgeAlarm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVariables">
      <soap:operation soapAction="http://tempuri.org/IService/GetVariables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTerminal">
      <soap:operation soapAction="http://tempuri.org/IService/GetTerminal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistogram">
      <soap:operation soapAction="http://tempuri.org/IService/GetHistogram" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAverageLastDay">
      <soap:operation soapAction="http://tempuri.org/IService/GetAverageLastDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:60881/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>